.div_container {
    width: 100%;
}

.div_game {
    width: 20%;
    float: left;    
}

.img_game {
    width: 100%;
    height: 10rem;
}

.div_body {
    /*esse estilo faz com que a lista role e a barra de pesquisa e paginação fiquem fixas*/
    width: 100%;
    overflow: auto;
    margin-top: 0px;
    position: absolute;
    height: 80vh; 
}

.div_topo {
    top: 0;
    overflow: auto;
}

.cards {
    cursor: pointer;
    font-size: 10px;
    height: 18rem;
}

.titulo_game {
    font-weight: bold;
    font-size: 14px;
}

.cards_text {
    font-size: 12px;
}

@media screen and (max-width: 480px) {
    .div_game {
        width: 100%;  
        padding-right: 1px;      
    }

    .img_game {
        width: 100%;
        height: 27vh;
    }

    .cards {
        height: 23rem;
    }

    .cards_text {
        font-size: 14px;
    }
}
